.bg-gray-200.pt-8.pb-4.px-6.rounded-3xl.opacity-2
  %div.mb-4
    %h2.text-xl.font-medium.text-left Bestellungen

  - @orders.each do |order|
    - if order.processing?
      = render Order::Component.new   date: order.created_at,
                                      name:       order.name,
                                      amount:    order.amount,
                                      status:    order.status,
                                      user_id:  order.user_id