.bg-gray-200.pt-8.pb-4.px-6.rounded-3xl.opacity-100
  %div.mb-4
    %h2.text-left Meldungen

  .flex.items-center.justify-between.bg-gray-300.px-4.py-2.rounded-xl.mb-4
    .flex.items-center.gap-2
      %h2.rounded.bg-gray-200.p-1.rounded-full
        MB
      %h4 Kaffeebohnen sind leer

    %div
      = check_box_tag "Status", checked: true, class: "rounded bg-gray-200"
