.bg-gray-200.pt-8.pb-4.px-6.rounded-3xl.opacity-2
  %div.mb-4
    %h2.text-xl.font-medium.text-left.mb-2 Meldungen

  %div.overflow-y-scroll.h-64
    = render Order::Component.with_collection(@completed, current_user: current_user)
