.bg-gray-200.pt-8.pb-4.px-6.rounded-3xl.opacity-1
  %div.mb-4
    %h2.text-xl.font-medium.text-left Produktübersicht
      
  - @products.each do |product|
    - if product.active?
      = render Product::Component.new(date: product.created_at,
                                      name: product.name,
                                      amount: product.amount,
                                      user_id: current_user.id,
                                      id: product.id)